*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    font-size: 13px;
    font-family: arial, sans-serif;
}

.error, .error * {
    color: red;
}

fieldset p {
    margin: 5px 0px;
}

fieldset label {
    min-width: 12em;
    display: inline-block;
}

fieldset br {
    display: none;
}

.fragmentBox {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.fragment {
}

.columnBox {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: flex-start;
}

.column {
  margin-right: 20px;
}

.fixed {
  flex-grow: 0;
  flex-shrink: 0;
}
